/*===============Fonts===============*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

/*===============General Layout & Style===============*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

html {
    background-color: #fefefe;
}

body {
    max-width: 740px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    padding: 10px;
    opacity: 0.95;
}

p {
    font-size: 15px;
    opacity: 0.87;
}

section {
    padding: 0px 20px 0px 20px;
}

.topic {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
}

.subTopic {
    display: inline;
    font-weight: 400;
    opacity: 0.65;
}

.detail {
    margin-bottom: 5px;
}

/*Compact layout for small screens*/
@media (max-width: 340px) {
    section {
        padding: 20px 10px;
    }
}

/*===============Header===============*/

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

header img {
    border-radius: 100px;
    position: absolute;
    left: 50px;
}

#contactList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contactList span {
    vertical-align: middle;
    padding: 0px 5px;
}

#contactList a {
    color: white;
}

.colour {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

header h1 {
    font-size: 30px;
}

/*Display picture in flex layout
  with other header content for
  medium width screens.*/
@media (max-width: 700px) {
    header img {
        position: initial;
    }
}

/*Display header content vertically
  on smaller screens.*/
@media (max-width: 550px) {
    header {
        flex-direction: column;
    }
    
    header img {
        margin-bottom: 10px;
    }
}

/*Remove email link styling for print.
  Display image in large-screen position.*/
@media print {
    #contactList a {
        text-decoration: none;
    }

    header img {
        display: block;
        position: absolute;
    }
}

/*===============Skills Table===============*/

table {
    margin-top: 10px;
    width: 100%;
}

.tableHead th {
    font-weight: 600;
}

table, th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    font-weight: 400;
}

th {
    padding: 5px;
}

/*Make table scroll horizontally on
  smaller screens.*/
@media (max-width: 550px) {
    #tableWrapper {
        width: 99%;
        overflow-x: scroll;
    }
    
    table {
        width: 550px;
    }
}

/*Fix table layout on screens, add
  extra bottom space.*/
@media screen {
    table {
        table-layout: fixed;
        margin-bottom: 10px;
    }
}

/*Always display edge-to-edge table
  for print.*/
@media print {
    #tableWrapper {
        overflow-x: hidden;
        width: 100%;
    }

    table {
        width: 100%;
    }
}

/*===============References===============*/

#reference-container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

#reference-container span {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}

.reference {
    width: 280px;
}

/*Display references vertically 
  on medium screens*/
@media (max-width: 700px) {
    #reference-container {
        display: block;
    }

    .reference {
        padding: 20px;
    }
}

/*Compact references for small
  screens*/
@media (max-width: 340px) {
    #referenceContainer {
        padding: 20px 0px;
    }
    
    .reference {
        width: auto;
    }
}

/*Remove link styling for emails on references,
  always use large-screen layout for print.*/
@media print {
    .reference a {
        text-decoration: none;
        color: black;
    }

    #reference-container {
        display: flex;
    }
}

/*Media Queries - Different styles for print and screen*/

@media screen {
    .printOnly {
        display: none;
    }
}

@media print {
    .startOfPage {
        page-break-before: always;
    }

    .screenOnly {
        display: none;
    }
}