/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*General Layout & Style*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    width: 740px;
    margin: auto;
    position: relative;
}

.divider {
    width: 25px;
    height: 8px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    margin: auto;
}

h1 {
    font-family: 'IBM Plex Sans', serif;
    text-align: center;
    padding: 10px;
    opacity: 0.95;
}

h2 {
    text-align: center;
    font-weight: 400;
    opacity: 0.87;
    font-size: 18px;
}

p {
    opacity: 0.87;
}

section {
    padding: 20px 20px;
}

.topic {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
}

.detail {
    margin-bottom: 5px;
}

/*Header*/

#titleRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    border-radius: 100px;
    position: absolute;
    left: 50px;
}

#contactList {
    display: flex;
    justify-content: center;
}

#contactList span {
    vertical-align: middle;
    padding: 0px 5px;
}

.colour {
    background-color: #000;
    color: white;
}

header h1 {
    font-size: 30px;
}

/*Skills Table*/

table {
    margin-top: 10px;
    width: 100%;
}

.tableHead th {
    font-weight: 600;
}

table, th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    font-weight: 400;
}

th {
    padding: 5px;
}

/*References*/

#reference-container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.reference {
    width: 160px;
}

#reference-container span {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}

/*Media Queries - Different styles for print and screen*/

@media screen {
    .printOnly {
        display: none;
    }

    table {
        table-layout: fixed;
        margin-bottom: 10px;
    }
}

@media print {
    .startOfPage {
        page-break-before: always;
    }

    .screenOnly {
        display: none;
    }
}