/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*General Layout & Style*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    background-color: #fefefe;
}

body {
    max-width: 740px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
    background-color: #fefeff;
}

h1 {
    font-family: 'IBM Plex Sans', serif;
    text-align: center;
    padding: 10px;
    opacity: 0.95;
}

h2 {
    text-align: center;
    font-weight: 400;
    opacity: 0.87;
    font-size: 18px;
}

p {
    opacity: 0.87;
}

section {
    padding: 20px 20px 0px 20px;
}

.topic {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
}

.subTopic {
    display: inline;
    font-weight: 400;
    opacity: 0.65;
}

.detail {
    margin-bottom: 5px;
}

/*Header*/

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    border-radius: 100px;
    position: absolute;
    left: 50px;
}

#contactList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contactList span {
    vertical-align: middle;
    padding: 0px 5px;
}

#contactList a {
    color: white;
}

.colour {
    background-color: #01579B;
    color: white;
}

header h1 {
    font-size: 30px;
}

/*Skills Table*/

table {
    margin-top: 10px;
    width: 100%;
}

.tableHead th {
    font-weight: 600;
}

table, th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    font-weight: 400;
}

th {
    padding: 5px;
}

/*References*/

#reference-container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.reference {
    width: 275px;
}

#reference-container span {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}

/*Media Queries - Different styles for print and screen*/

@media (max-width: 700px) {
    header img {
        position: initial;
    }

    #reference-container {
        display: block;
    }

    .reference {
        padding: 20px;
    }
}

@media (max-width: 550px) {

    header {
        flex-direction: column;
    }

    header img {
        margin-bottom: 10px;
    }

    #tableWrapper {
        width: 99%;
        overflow-x: scroll;
    }

    table {
        width: 550px;
    }
}

@media (max-width: 340px) {
    header h1 {
        font-size: 26px;
    }

    section {
        padding: 20px 10px;
    }

    #referenceContainer {
        padding: 20px 0px;
    }

    .reference {
        width: auto;
    }
}

@media screen {
    .printOnly {
        display: none;
    }

    table {
        table-layout: fixed;
        margin-bottom: 10px;
    }
}

@media print {
    .startOfPage {
        page-break-before: always;
    }

    .screenOnly {
        display: none;
    }

    #contactList a {
        text-decoration: none;
    }

    header img {
        display: block;
        position: absolute;
    }

    #tableWrapper {
        overflow-x: hidden;
        width: 100%;
    }

    table {
        width: 100%;
    }

    .reference a {
        text-decoration: none;
        color: black;
    }

    #reference-container {
        display: flex;
    }
}